div {
    margin-bottom: 30px;
}

.form {
    padding-top: 50px;
    text-align: center;
    border: 1px dashed #ccc;
    height: 500px;
}

.strength-section {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ccc;
    background-color: gray;
}