.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
}

h1 {
    text-align: center;
}

.form {
    padding-top: 50px;
    text-align: center;
    border: 1px dashed #ccc;
    height: 500px;
}